<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Page Not Found'}}
  <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/GreyBeagleLinux/greybeaglelinux.github.io/refs/heads/main/images/GreyBeardLinux.webp">
  </head>
  <body class="status-404">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
