<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/GreyBeagleLinux/greybeaglelinux.github.io/refs/heads/main/images/GreyBeardLinux.webp">
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
